.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:25px;
    border-bottom: 1px solid #979797;
    padding-top: 20px;
    padding-bottom: 20px;
  }
.circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;

}
.name{
  display: flex;
  align-items: center;
  justify-content: center;
    text-transform: uppercase;
 font-family: var(--font-spartan);
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 25px; /* 166.667% */
letter-spacing: 1.364px;

  
 }

 .body {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
 }

 .image {
  cursor: pointer;
 }